$primary: rgb(15, 15, 15);
$secondary: #00a827;
*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  overflow-x: hidden;
  font-size: 16px;
}
.header__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
}
.header__content__search {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  position: relative;
  margin: 0em 1em;
}
.header__content__search__bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__content__search__bar__input {
  flex: 1;
  height: 40px;
  min-width: 0px;
  border: 1px solid #bdb9b9;
  border-radius: 5px;
  padding: 0.5em;
  outline: none;
  font-size: 16px;
}
.header__content__search__bar__input:focus {
  border: 1px solid $secondary;
}
.header__content__search__bar__button {
  height: 40px;
  background-color: $secondary;
  border: none;
  border-radius: 5px;
  margin-left: 0.5em;
  cursor: pointer;
  color: white;
  padding: 0em 1em;
}
.header__content__search__selection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  top: 110%;
  overflow-y: auto;
  max-height: 500px;
  left: 0;
  background-color: white;
  border: 1px solid #bdb9b9;
  border-radius: 5px;
  padding: 0.5em;
  z-index: 999999;
}
.header__content__search__selection__entry {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  cursor: pointer;
  color: black;
  text-decoration: none;
}
.header__content__search__selection__entry:hover {
  background-color: #e2e2e2;
  transition: 0.3s ease-in-out;
  border-radius: 6px;
}
.header__content__button {
  width: 40px;
  height: 40px;
  background-color: $secondary;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__content__button svg {
  height: 20px;
  width: 20px;
}
.header__content__button__badge {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 25px;
  height: 25px;
  background-color: $secondary;
  border: 1px solid white;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__content__logo img {
  height: 100px;
}
.landing__main__banner {
  width: 100%;
}
.landing__main__banner__img {
  width: 100%;
  position: relative;
}
.landing__main__banner__img img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.landing__main__banner__img__text__wraper {
  width: 100%;
  position: absolute;
  top: 30%;
  left: 2%;
}
.landing__main__banner__text__container {
  width: 70%;
  padding: 30px;
  text-align: center;
}
.landing__main__banner__img__text__heading {
  text-align: start;
  font-size: 50px;
  color: rgb(15, 15, 15);
  background-color: #e6e6e6;
  font-weight: bold;
  padding: 12px;
  border-radius: 30px;
  font-family: "Times New Roman", Times, serif;
}
.landing__main__banner__img__text__heading span {
  color: $secondary;
}
.landing__main__banner__img__text__btn {
  width: 100%;
  text-align: center;
  margin-top: 2em;
}
.landing__main__banner__img__text__btn__link {
  background-color: $secondary;
  padding: 12px 30px;
  border-radius: 12px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
}
.card__main__container {
  position: relative;
}
.card__main__wraper {
  position: absolute;
  width: 100%;
  top: 90px;
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
}
.card__main__wraper__img {
  background-color: rgb(71, 82, 82);
}
.not__found {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  font-size: 60px;
  font-weight: 900;
  height: 200px;
  padding: 0.5em;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-top: 4em;
}
.product__container {
  width: 100%;
  background-image: url(../src/asstes/Vector.png);
  mask-image: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1366px;
  margin: 0 auto;
  background-repeat: no-repeat;
  margin-top: 3em;
}
.product__container__header__text__wraper {
  text-align: center;
  margin-top: 3em;
}
.product__header__heading {
  font-size: 32px;
  font-weight: 700;
  position: relative;
  margin-bottom: 0.4em;
}
.product__header__heading::before {
  position: absolute;
  content: "";
  top: 24px;
  background-color: $secondary;
  height: 5px;
  width: 190px;
  border-radius: 12px;
  margin: 12px 0px;
}
.filter__products__col {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em 3em;
}
.filter__products__row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.filter__products__row__type {
  font-size: 20px;
  color: $secondary;
  font-weight: 700;
}
.filter__products__row__button__wraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter__products__row__button {
  border: 1px solid $secondary;
  border-radius: 12px;
  padding: 8px 12px;
  margin-top: 8px;
  margin-right: 12px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.filter__products__row__button:hover {
  background-color: $secondary;
  color: white;
  padding: 8px 16px;
  transition: 0.4s ease-in-out;
}
.product__imgs__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.product__wraper {
  padding: 0.5em;
  margin: 20px;
  background-color: white;
  border-radius: 10px;
  transition: 0.4s ease-in-out;
  text-decoration: none;
  color: black;
}
.product__wraper:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
.product__wraper__img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product__wraper__img img {
  height: 220px;
}

.product__wraper__text {
  width: 100%;
  bottom: -35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
}

.product__wraper__text__heading {
  font-size: 20px;
  font-weight: 700;
}
.product__wraper__sub__heading {
  font-size: 16px;
  text-align: center;
}
.showrom__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1366px;
  margin: 0 auto;
}
.showrom__container__img {
  position: relative;
  width: 80%;
}
.showrom__container__img img {
  height: 450px;
  border-radius: 8px;
}
.showrom__container__content {
  width: 100%;
  max-width: 500px;
  position: absolute;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-right: -25em;
}
.showrom__container__content__heading {
  font-size: 30px;
  font-weight: 700;
  padding: 12px;
}
.showrom__container__content__sub__heading {
  font-size: 16px;
  padding: 0px 12px;
}
.footer__container {
  width: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1366px;
  margin: 0 auto;
  background-color: $secondary;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  color: white;
  padding: 1em 2em;
  flex-wrap: wrap;
}
.footer__logo {
  width: 100%;
}
.footer__logo img {
  height: 120px;
}
.footer__container__col {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 300px;
}

.footer__row__heading {
  font-size: 28px;
  font-weight: 700;
  padding: 12px 0px;
}
.footer__row__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer__row__contant {
  padding: 8px 0px;
  font-size: 14px;
  text-decoration: none;
  color: white;
}
.products__details__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1366px;
  margin: 0 auto;
  padding: 3em 0em;
}
.product__banner {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
.delivery__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3em 0em;
  flex-wrap: wrap;
}
.delivery__container__text__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.delivery__container__heading {
  font-size: 32px;
  font-weight: bold;
  padding: 12px;
  color: $secondary;
}
.delivery__container__sub__heading {
  font-size: 16px;
  padding: 0px 12px;
  max-width: 800px;
  text-align: center;
}
.delivery__container__row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 1em;
  flex-wrap: wrap;
}
.delivery__wraper__card {
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding: 1em;
  margin: 12px;
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
  border-radius: 19px;
}
.delivery__wraper__card:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 0px rgba(4, 253, 67, 0.75);
  border-radius: 12px;
  cursor: pointer;
}
.delivery__wraper__card__img {
  width: 100%;
}
.delivery__wraper__card__img img {
  height: 50px;
}
.delivery__wraper__card__text__heading {
  font-size: 18px;
  font-weight: 700;
  padding: 5px 0px;
}
.delivery__wraper__card__text__sub__heading {
  font-size: 16px;
}
.delivery__wraper__card:hover .delivery__wraper__card__text__heading {
  color: $secondary;
  transition: 0.3s ease-in-out;
}

.select__catagories__section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3em 0em;
  flex-wrap: wrap;
  max-width: 1166px;
  margin: 0 auto;
}
.select__catagories__section__heading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 28px;
  font-weight: 700;
  padding: 12px;
  position: relative;
  color: $secondary;
}

.select__catagories__card {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em;
  padding: 0.5em 2em;
  border-radius: 12px;
  background-color: transparent;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  color: black;
  background-color: #f3f4f6;
}
.select__catagories__card:hover {
  box-shadow: rgba(0, 250, 0, 0.25) 0px 50px 100px -20px,
    rgba(0, 255, 13, 0.3) 0px 30px 60px -30px;
  transition: 0.4s ease-in-out;
  color: $secondary;
}
.select__catagories__card__img {
  border-radius: 30px;
}
.select__catagories__card__img img {
  height: 50px;
  width: 50px;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  transition: 0.4s ease-in-out;
}
.select__catagories__card__img img:hover {
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  transition: 0.4s ease-in-out;
}
.select__catagories__card__text__heading {
  font-size: 18px;
  font-weight: 700;
  padding: 5px 0px;
}
.select__catagories__card__text__sub__heading {
  font-size: 16px;
  color: #636161;
}
.arrival__card__main__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  max-width: 1366px;
  margin: 0 auto;
}
.arrival__container__card__wraper {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.arrival__container__card__img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrival__container__card__img img {
  width: 100%;
  object-fit: cover;
  height: 300px;
  border-radius: 12px;
}
.arrival__card__conent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 6px 0px;
}
.arrival__container__card__heading {
  font-size: 20px;
  font-weight: bold;
  color: $secondary;
}
.swiper__slider__heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0em;

  font-size: 32px;
  font-weight: bold;
}
.swiper__slider__heading span {
  color: $secondary;
  margin: 0px 7px;
}
.collection__details {
  display: flex;
  flex-direction: column;
  max-width: 1366px;
  padding: 4em 2em;
  width: 100%;
  margin: 0 auto;
}
.collection__details__back__button {
  width: fit-content;
  background-color: transparent;
  border: 1px solid $secondary;
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 4em;
}
.collection__details__back__button svg {
  margin-right: 0.5em;
}
.collection__details__back__button:hover {
  transition: 300ms ease-in-out;
  background-color: $secondary;
  color: white;
}
.collection__details__main {
  display: flex;
}
.collection__details__main__left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.collection__details__main__left__img__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3em;
}
.collection__details__main__left__img {
  max-width: 70%;
  max-height: 1000px;
  min-height: 500px;
}
.collection__details__main__right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.collection__details__main__right__heading {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0.1em;
  color: #2a5e59;
}
.collection__details__main__right__sub__heading {
  font-size: 16px;
  margin-bottom: 1.5em;
  font-weight: 600;
  color: $secondary;
}
.collection__details__main__right__sub__heading__reverse {
  font-size: 16px;
  margin-bottom: 0.5em;
  color: $secondary;
  font-weight: bold;
  margin-top: 1em;
}
.collection__details__main__right__entry {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
  color: #525252;
}
.collection__details__main__right__entry__size {
  display: flex;
  align-items: center;
}
.collection__details__main__right__entry__size__entry {
  padding: 0.2em 0.5em;
  border-radius: 5px;
  border: 1px solid #000;
  margin-left: 1em;
}
.collection__details__main__right__entry__price {
  font-weight: bold;
  font-size: 25px;
  margin-left: 0.5em;
}
.collection__details__main__right__entry__content {
  margin-left: 0.3em;
}
.collection__details__main__right__button {
  height: 45px;
  background-color: $secondary;
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 1em;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  margin-top: 1em;
}
.collection__details__main__right__button:hover {
  transition: 300ms ease-in-out;
  background-color: black;
}
.collection__details__main__right__info {
  display: flex;
  flex-direction: column;
}
.collection__details__main__right__info__entry {
  margin-left: 2em;
  margin-bottom: 0.5em;
  position: relative;
}
.collection__details__main__right__info__entry::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -1.5em;
  transform: translateY(-50%);
  width: 0.5em;
  height: 0.5em;
  background-color: $secondary;
  border-radius: 50%;
}
.collection__details__similar__items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4em;
}
.collection__details__similar__items__list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 3em 0em;
}
//-------------------------------------------------------------------
@media (max-width: 900px) {
  .landing__main__banner__img__text__heading {
    font-size: 30px;
    border-radius: 12px;
  }
  .landing__main__banner__text__container {
    width: 100%;
  }
  .showrom__container__img {
    width: none;
  }
  .showrom__container__content {
    margin-right: 0em;
  }
  .header__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .header__entries {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    margin-top: 250px;
    background-color: rgb(230, 232, 233);
    width: 500px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 999;
    position: absolute;
  }
}
@media (max-width: 800px) {
  .collection__details__main {
    flex-direction: column;
  }
  .collection__details__main__left {
    width: 100%;
    margin-bottom: 2em;
  }
  .collection__details__main__right {
    width: 100%;
  }
  .collection__details__main__right__heading,
  .collection__details__similar__items__heading {
    font-size: 25px;
  }
}
@media (max-width: 500px) {
  .select__catagories__section__heading {
    font-size: 20px;
    text-align: center;
  }
  .header__navbar__contact {
    display: none;
  }
  .landing__main__banner__img__text__heading {
    font-size: 29px;
    color: $secondary;
    background-color: none;
  }
}
@media (max-width: 650px) {
  .delivery__container {
    flex-direction: column;
  }
  .delivery__wraper__card {
    border-right: none;
  }
  .delivery__wraper__card__text__heading {
    font-size: 16px;
  }
  .delivery__wraper__card__text__sub__heading {
    font-size: 14px;
  }
}
