$primary: rgb(15, 15, 15);
$secondary: #00a827;
*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  overflow-x: hidden;
  font-size: 16px;
}
.home__main__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1366px;
  margin: 0 auto;
}
.home__main__col {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home__main__col:first-child {
  padding: 0.5em 2em;
}
.home__main__col__heading {
  width: 100%;
}
.home__main__col__heading img {
  object-fit: contain;
  width: 100%;
  height: 260px;
}
.home__main__col__sub__heading {
  width: 100%;
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  color: #964b00;
}
.home__main__col__btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1em;
}
.home__main__col__btn button {
  width: 200px;
  background-color: #0f0f0f;
  border: none;
  border-radius: 5px;
  padding: 0.5em 1em;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s ease-in-out;
}

.home__main__col__btn button:hover {
  background-color: #00a827;
  transition: 0.3s ease-in-out;
  color: rgb(236, 236, 236);
  box-shadow: rgba(12, 236, 113, 0.664) 0px 3px 8px;
}
.home__main__col img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1300px;
  margin: 0 auto;
  padding: 1em;
}
.header__content__search {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  position: relative;
  margin: 0em 1em;
}
.header__content__search__bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__content__search__bar__input {
  flex: 1;
  height: 40px;
  min-width: 0px;
  border: 1px solid #bdb9b9;
  padding: 0.5em;
  outline: none;
  font-size: 16px;
  border-radius: 30px;
}
.header__content__search__bar__input:focus {
  border: 1px solid $secondary;
}
.header__content__search__bar__button {
  height: 40px;
  background-color: $secondary;
  border: none;
  border-radius: 5px;
  margin-left: 0.5em;
  cursor: pointer;
  color: white;
  padding: 0em 1em;
}
.header__content__search__selection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  top: 110%;
  overflow-y: auto;
  max-height: 500px;
  left: 0;
  background-color: white;
  border: 1px solid #bdb9b9;
  border-radius: 5px;
  padding: 0.5em;
  z-index: 999999;
}
.header__content__search__selection__entry {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  cursor: pointer;
  color: black;
  text-decoration: none;
}
.header__content__search__selection__entry:hover {
  background-color: #46bb4cce;
  transition: 0.3s ease-in-out;
  border-radius: 6px;
}
.header__content__button {
  width: 40px;
  height: 40px;
  background-color: $secondary;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__content__button svg {
  height: 20px;
  width: 20px;
}
.header__content__button__badge {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 25px;
  height: 25px;
  background-color: $secondary;
  border: 1px solid white;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__content__logo img {
  height: 100px;
}
.landing__main__banner {
  width: 100%;
}
.landing__main__banner__img {
  width: 100%;
  position: relative;
}
.landing__main__banner__img img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.landing__main__banner__img__text__wraper {
  width: 100%;
  position: absolute;
  top: 30%;
  left: 2%;
}
.landing__main__banner__text__container {
  width: 70%;
  padding: 30px;
  text-align: center;
}
.landing__main__banner__img__text__heading {
  text-align: start;
  font-size: 50px;
  color: rgb(15, 15, 15);
  background-color: #e6e6e6;
  font-weight: bold;
  padding: 12px;
  border-radius: 30px;
  font-family: "Times New Roman", Times, serif;
}
.landing__main__banner__img__text__heading span {
  color: $secondary;
}
.landing__main__banner__img__text__btn {
  width: 100%;
  text-align: center;
  margin-top: 2em;
}
.landing__main__banner__img__text__btn__link {
  background-color: $secondary;
  padding: 12px 30px;
  border-radius: 12px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
}
.card__main__container {
  position: relative;
}
.card__main__wraper {
  position: absolute;
  width: 100%;
  top: 90px;
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
}
.card__main__wraper__img {
  background-color: rgb(71, 82, 82);
}
.not__found {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  font-size: 60px;
  font-weight: 900;
  height: 200px;
  padding: 0.5em;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-top: 4em;
}
.product__container {
  width: 100%;
  background-image: url(../src/asstes/Vector.png);
  mask-image: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1366px;
  margin: 0 auto;
  background-repeat: no-repeat;
  margin-top: 3em;
}
.product__container__header__text__wraper {
  text-align: center;
  margin-top: 3em;
}
.product__header__heading {
  font-size: 32px;
  font-weight: 700;
  position: relative;
  margin-bottom: 0.4em;
}
.product__header__heading::before {
  position: absolute;
  content: "";
  top: 24px;
  background-color: $secondary;
  height: 5px;
  width: 190px;
  border-radius: 12px;
  margin: 12px 0px;
}
.filter__products__col {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em 3em;
}
.filter__products__row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.filter__products__row__type {
  font-size: 20px;
  color: $secondary;
  font-weight: 700;
}
.filter__products__row__button__wraper {
  display: flex;
  align-items: center;
  // justify-content: flex-start;
  // flex-wrap: wrap;
}
.filter__products__row__button {
  border: 1px solid $secondary;
  border-radius: 12px;
  padding: 8px 12px;
  margin-top: 8px;
  margin-right: 12px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.filter__products__row__button:hover {
  background-color: $secondary;
  color: white;
  padding: 8px 16px;
  transition: 0.4s ease-in-out;
}
.product__imgs__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.product__wraper {
  padding: 0.5em;
  margin: 20px;
  background-color: white;
  border-radius: 10px;
  transition: 0.4s ease-in-out;
  text-decoration: none;
  color: black;
}
.product__wraper:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
.product__wraper__img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product__wraper__img img {
  height: 220px;
}

.product__wraper__text {
  width: 100%;
  bottom: -35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
}

.product__wraper__text__heading {
  font-size: 20px;
  font-weight: 700;
}
.product__wraper__sub__heading {
  font-size: 16px;
  text-align: center;
}
.showrom__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1366px;
  margin: 0 auto;
}
.showrom__container__img {
  position: relative;
  width: 80%;
}
.showrom__container__img img {
  height: 450px;
  border-radius: 8px;
}
.showrom__container__content {
  width: 100%;
  max-width: 500px;
  position: absolute;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-right: -25em;
}
.showrom__container__content__heading {
  font-size: 30px;
  font-weight: 700;
  padding: 12px;
}
.showrom__container__content__sub__heading {
  font-size: 16px;
  padding: 0px 12px;
}
.footer__container {
  width: 100%;
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: space-evenly;
  max-width: 1366px;
  margin: 0 auto;
  background-color: $secondary;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  color: white;
  padding: 1em 2em;
  flex-wrap: wrap;
}
.footer__logo {
  width: 100%;
}
.footer__logo img {
  height: 120px;
}
.footer__container__col {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 300px;
}

.footer__row__heading {
  font-size: 28px;
  font-weight: 700;
  padding: 12px 0px;
}
.footer__row__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer__row__contant {
  padding: 8px 0px;
  font-size: 14px;
  text-decoration: none;
  color: white;
}
.products__details__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1366px;
  margin: 0 auto;
  padding: 3em 0em;
}
.product__banner {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
.delivery__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3em 0em;
  flex-wrap: wrap;
}
.delivery__container__text__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.delivery__container__heading {
  font-size: 32px;
  font-weight: bold;
  padding: 12px;
  color: $secondary;
}
.delivery__container__sub__heading {
  font-size: 16px;
  padding: 0px 12px;
  max-width: 800px;
  text-align: center;
}
.delivery__container__row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 3em 1em;
  flex-wrap: wrap;
}
.delivery__wraper__card {
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding: 1em;
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
  border-radius: 19px;
  border: 0.4px solid #dfe0e2;
  margin: 0em 1em;
}
.delivery__wraper__card:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 0px rgba(4, 253, 67, 0.75);
  border-radius: 12px;
  cursor: pointer;
  border: 0.4px solid rgba(4, 253, 66, 0.377);
}
.delivery__wraper__card__img {
  width: 100%;
}
.delivery__wraper__card__img img {
  height: 50px;
}
.delivery__wraper__card__text__heading {
  font-size: 18px;
  font-weight: 700;
  padding: 5px 0px;
}
.delivery__wraper__card__text__sub__heading {
  font-size: 16px;
}
.delivery__wraper__card:hover .delivery__wraper__card__text__heading {
  color: $secondary;
  transition: 0.3s ease-in-out;
}

.select__catagories__section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3em 0em;
  flex-wrap: wrap;
  max-width: 1166px;
  margin: 0 auto;

  border-radius: 12px;
  padding: 1em 0em;
  background-color: $secondary;
}
.select__catagories__section__heading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 28px;
  font-weight: 700;
  padding: 12px;
  position: relative;
  color: white;
}

.select__catagories__card {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em;
  padding: 0.5em 2em;
  border-radius: 12px;
  background-color: transparent;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  color: black;
  background-color: #f3f4f6;
}
.select__catagories__card:hover {
  box-shadow: rgba(243, 243, 243, 0.25) 0px 50px 100px -20px,
    rgba(219, 219, 219, 0.863) 0px 30px 60px -30px;
  transition: 0.4s ease-in-out;
  color: $secondary;
}
.select__catagories__card__img {
  border-radius: 30px;
}
.select__catagories__card__img img {
  height: 50px;
  width: 50px;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  transition: 0.4s ease-in-out;
}
.select__catagories__card__img img:hover {
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  transition: 0.4s ease-in-out;
}
.select__catagories__card__text__heading {
  font-size: 18px;
  font-weight: 700;
  padding: 5px 0px;
}
.select__catagories__card__text__sub__heading {
  font-size: 16px;
  color: #636161;
}
.arrival__card__main__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  max-width: 1366px;
  margin: 0 auto;
}
.arrival__container__card__wraper {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.arrival__container__card__img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrival__container__card__img img {
  width: 100%;
  object-fit: cover;
  height: 300px;
  border-radius: 12px;
}
.arrival__card__conent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 6px 0px;
}
.arrival__container__card__heading {
  font-size: 20px;
  font-weight: bold;
  color: $secondary;
}
.swiper__slider__heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0em;

  font-size: 32px;
  font-weight: bold;
}
.swiper__slider__heading span {
  color: $secondary;
  margin: 0px 7px;
}
.collection__details {
  display: flex;
  flex-direction: column;
  max-width: 1366px;
  padding: 4em 2em;
  width: 100%;
  margin: 0 auto;
}
.collection__details__back__button {
  width: fit-content;
  background-color: transparent;
  border: 1px solid $secondary;
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 4em;
  text-decoration: none;
  color: $secondary;
}
.collection__details__back__button svg {
  margin-right: 0.5em;
}
.collection__details__back__button:hover {
  transition: 300ms ease-in-out;
  background-color: $secondary;
  color: white;
}
.collection__details__main {
  display: flex;
}
.collection__details__main__left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.collection__details__main__left__img__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3em;
}
.collection__details__main__left__img {
  max-width: 70%;
  max-height: 1000px;
  min-height: 500px;
}
.collection__details__main__right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.collection__details__main__right__heading {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0.1em;
  color: #2a5e59;
}
.collection__details__main__right__sub__heading {
  font-size: 16px;
  margin-bottom: 1.5em;
  font-weight: 600;
  color: $secondary;
}
.collection__details__main__right__sub__heading__reverse {
  font-size: 16px;
  margin-bottom: 0.5em;
  color: $secondary;
  font-weight: bold;
  margin-top: 1em;
}
.collection__details__main__right__entry {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
  color: #525252;
}
.collection__details__main__right__entry__size {
  display: flex;
  align-items: center;
}
.collection__details__main__right__entry__size__entry {
  padding: 0.2em 0.5em;
  border-radius: 5px;
  border: 1px solid #000;
  margin-left: 1em;
}
.collection__details__main__right__entry__price {
  font-weight: bold;
  font-size: 25px;
  margin-left: 0.5em;
}
.collection__details__main__right__entry__content {
  margin-left: 0.3em;
}
.collection__details__main__right__button {
  height: 45px;
  background-color: $secondary;
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 1em;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  margin-top: 1em;
}
.collection__details__main__right__button:hover {
  transition: 300ms ease-in-out;
  background-color: black;
}
.collection__details__main__right__info {
  display: flex;
  flex-direction: column;
}
.collection__details__main__right__info__entry {
  margin-left: 2em;
  margin-bottom: 0.5em;
  position: relative;
}
.collection__details__main__right__info__entry::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -1.5em;
  transform: translateY(-50%);
  width: 0.5em;
  height: 0.5em;
  background-color: $secondary;
  border-radius: 50%;
}
.collection__details__similar__items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4em;
}
.collection__details__similar__items__list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 3em 0em;
}
.products__filter__card__container__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 2em 0em;
}
.products__filter__card__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
  text-decoration: none;
  background-color: #f4f7f4;
  transition: 0.3s ease-in-out;
  border-radius: 12px;
  padding: 9px;
}
.products__filter__card__container:hover {
  box-shadow: rgba(0, 250, 0, 0.25) 0px 50px 100px -20px,
    rgba(0, 255, 13, 0.3) 0px 30px 60px -30px;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
.products__filter__card__img img {
  height: 200px;
  width: 150px;
}

.products__filter__card__row {
  width: 100%;
  text-decoration: none;
}
.products__filter__card__row__heading {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 600;
}
.products__filter__card__row__entry {
  font-size: 16px;
  font-weight: 800;
  color: $secondary;
}
.gallery__section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1366px;
  margin: 0 auto;
  padding: 3em 0em;
}
.gallery__section__heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0em;
  font-size: 32px;
  font-weight: bold;
  position: relative;
  color: $secondary;
}
.gallery__wraper__row {
  width: 100%;
  max-width: 960px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // flex-wrap: wrap;
}
.gallery__wraper__col {
  margin: 0.3em;
}
.gallery__wraper__col__upper {
  margin: 0em 0.3em;
}
.gallery__wraper__col__upper img {
  width: 100%;
  height: 280px;
  object-fit: contain;
  transition: 0.3s ease-in-out;
}
.gallery__wraper__col__upper img:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}
.gallery__wraper__col img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}
.landing__about__section {
  width: 100%;
  // background: url(./assets/aboutimg.png);
  background-size: cover;
  padding: 0em 3em;
}
.landing__about__section__overlay {
  width: 100%;
}
.about__overlay__contant__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  left: 0;
  right: 0;
  max-width: 1440px;
  margin: 0 auto;
}
.about__overlay__laft__contant {
  width: 50%;
}
.about__overlay__laft__contant__heading__upper {
  font-size: 24px;
  font-weight: 600;
  color: $secondary;
  position: relative;
}
.about__overlay__laft__contant__heading__upper::after {
  position: absolute;
  content: "";
  top: 10px;
  left: -300px;
  height: 4px;
  width: 290px;
  border-radius: 20px;
  background-color: $secondary;
}
.about__overlay__laft__contant__heading {
  font-size: 30px;
  font-weight: 700;
  width: 100%;
  max-width: 400px;
  line-height: 36px;
  margin-bottom: 12px;
}
.about__overlay__laft__contant__sub__heading {
  width: 100%;
  max-width: 95%;
  line-height: 20px;
  font-size: 1.1em;
}
.about__overlay__right__contant {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 530px;
}
.about__overlay__right__contant img {
  // width: 100%;
  height: 600px;
}
.about__overlay__right__contant::before {
  position: absolute;
  content: "";
  background-color: #c7ac9f;
  top: 25%;
  right: 14%;
  width: 230px;
  height: 55%;
  opacity: 0.2;
  z-index: -99;
}
.about__overlay__right__contant::after {
  position: absolute;
  content: "";
  border: 2px solid #00a827;
  top: 29%;
  right: 19%;
  width: 258px;
  height: 50%;
  opacity: 0.2;
  z-index: -999;
}
.signin__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 0 auto;
}
.signin__container__row {
  width: 50%;
}
.signin__container__row img {
  width: 100%;
  height: 500px;
  border-radius: 20px;
}
.signin__text__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #c2c0c0b6;
  border-radius: 20px;
  padding: 4em 0.2em;
}
.signin__text__welcome {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 0.5em;
  color: $secondary;
}
.signin__text__btn__row {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #519e55b0;
  border-radius: 60px;
}
.signin__text__signin {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 0em;
  font-size: 20px;
  font-weight: 700;
  color: white;
  // background-color: #4cb051;
  cursor: pointer;
  border-radius: 60px;
  transition: 0.3s ease-in-out;
}
.signin__text__signin:hover {
  background-color: #2ea334;
  transition: 0.3s ease-in-out;
}
.signin__text__signup:hover {
  background-color: #2ea334;
  transition: 0.3s ease-in-out;
}
.signin__text__signup {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 0em;
  font-size: 20px;
  font-weight: 700;
  color: white;
  // background-color: #2bd11c;
  cursor: pointer;
  border-radius: 60px;
}
.signin__text__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em 2em;
  text-align: center;
  color: rgb(33, 61, 38);
  transition: 0.3s ease-in-out;
}
.signin__text__input__from {
  width: 100%;
  padding: 0em 2em;
}
.signin__text__input__row {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin: 1em 0em;
}
.signin__text__input__row__label {
  font-size: 16px;
  font-weight: 400;
  color: #35bd57ce;
  margin-bottom: 5px;
}
.signin__text__input__row__input {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 0em;
  font-size: 14px;
  padding: 10px 12px;
  color: white;
  cursor: pointer;
  border-radius: 60px;
  outline: none;
  border: none;
}
.signin__text__input__row__input:hover {
  background-color: #4cb051;
}
.signin__text__input__row__input::placeholder {
  color: #bdbdbd;
  outline: none;
}
.signin__text__input__row__input::placeholder:hover {
  color: #00a827;
}
.signin__text__input__row__submit {
  width: 200px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 0em;
  font-size: 20px;
  font-weight: 700;
  color: white;
  background-color: #639966;
  cursor: pointer;
  border-radius: 60px;
  transition: 0.3s ease-in-out;
}
.signin__text__input__row__submit:hover {
  background-color: #2ea334;
  transition: 0.3s ease-in-out;
}
.cart__container__header__heading {
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0.4em;
  position: relative;
  color: $secondary;
  margin-top: 2em;
  max-width: 1366px;
  margin: 0 auto;
}
.cart__container__header__heading__text {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  color: $secondary;
  margin-top: 2em;
  margin-left: 1em;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  border: 1px solid $secondary;
  padding: 8px 12px;
  border-radius: 8px;
  text-decoration: none;
}
.cart__container__header__heading__text:hover {
  transition: 0.3s ease-in-out;
  background-color: $secondary;
  color: white;
}
.cart__container__main {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2em 0em;
  max-width: 1300px;
  margin: 0 auto;
}
.no__data__cart {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  color: #8380809d;
  font-size: 30px;
  font-style: oblique;
  font-weight: lighter;
}
.no__data__cart svg {
  position: relative;
  height: 200px;
  width: 200px;
}
.cart__container__wraper {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0em 0em;
}
.clear__cart__btn {
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  text-decoration: none;
  margin-left: auto;
}
.clear__cart__btn__btn {
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $secondary;
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1em;
  color: black;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.clear__cart__btn__btn:hover {
  transition: 0.3s ease-in-out;
  background-color: $secondary;
  color: white;
}
.cart__container__wraper__card {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 160px;
  margin: 0em 1em;
  background-color: #f0f0f2;
  border-radius: 10px;
  margin-bottom: 0.6em;
}
.cart__container__wraper__card__img img {
  height: 160px;
  width: 120px;
  border-radius: 10px;
}
.cart__container__wraper__card__text {
  width: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 1em;
}
.cart__container__wraper__card__text__heading {
  line-height: 22px;
}
.cart__container__wraper__card__price {
  font-size: 20px;
  font-weight: 700;
  padding: 5px 0px;
  color: $secondary;
  // margin: 1em 0em;
}
.cart__container__wraper__card__remove {
  margin: 1em;
}
.cart__remove__btn {
  cursor: pointer;
  text-decoration: none;
  padding: 0.6em 2em;
  font-size: 14px;
  font-weight: 600;
  background-color: transparent;
  transition: 300ms ease-in-out;
  border: 1px solid $secondary;
  border-radius: 6px;
}
.cart__remove__btn:hover {
  background-color: $secondary;
  color: white;
  transition: 300ms ease-in-out;
  border: 1px solid $secondary;
}
.cart__container__user__detail__wraper {
  width: 47%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}
.cart__container__user__detail__wraper__card {
  width: 100%;
  border-radius: 6px;
  margin-top: 1.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f0f0f2;
}
.cart__container__user__detail__wraper__card__heading {
  font-size: 20px;
  font-weight: 700;
  padding: 5px 0px;
  color: $secondary;
  padding: 0.6em 0em;
}
.cart__container__user__detail__wraper__card__input {
  width: 90%;
  margin: 5px 0px;
}
.cart__container__user__detail__wraper__card__input input {
  width: 100%;
  height: 40px;
  min-width: 0px;
  border: 1px solid #bdb9b9;
  border-radius: 5px;
  padding: 0.5em;
  outline: none;
  font-size: 16px;
}
.cart__container__user__detail__wraper__card__input select {
  width: 100%;
  height: 40px;
  min-width: 0px;
  border: 1px solid #bdb9b9;
  border-radius: 5px;
  padding: 0.5em;
  outline: none;
  font-size: 16px;
}

.price__card__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f0f0f2;
  border-radius: 7px;
  padding: 1em 0.2em;
}
.price__card__wraper__row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 2em;
  border-bottom: 1px solid #747272;
  // background-color: #f3f3f3;
}
.price__card__wraper__row:last-child {
  border: none;
}
.price__card__wraper__row__heading {
  font-size: 16px;
  color: #374957;
  font-weight: 700;
}
.price__card__wraper__row__sub__heading {
  font-size: 16px;
  color: #000000;
  font-weight: 600;
}
.price__card__wraper__row__sub__heading__total {
  font-size: 18px;
  color: $secondary;
  font-weight: 700;
}
.cart__container__user__detail__wraper__card__input__heading {
  font-size: 16px;
  font-weight: 600;
  padding: 0.5em 0em;
  color: #3a3939;
}

.cart__container__user__detail__wraper__card__input__heading
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.next__btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.next__btn button {
  padding: 12px 16px;
  border: none;
  margin: 1em 0em;
  width: 200px;
  background-color: $secondary;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: 300ms ease-in-out;
}
.next__btn button:hover {
  background-color: black;
  transition: 300ms ease-in-out;
}
.reviews__sectoion {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1366px;
  margin: 0 auto;
  padding: 3em 0em;
}
.reviews__heading {
  width: 100%;
  display: flex;

  margin: 1em 0em;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  color: $secondary;
}
.reviews__heading span {
  height: 10px;
  margin: 0px 7px;
  margin-top: 12px;
  font-weight: 300;
  font-size: 14px;
  color: rgb(129, 128, 128);
}
.reviews__list__wraper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border-top: 0.4px solid #d8d8d8;
  padding: 1em 0em;
}
.reviews__list__col__img img {
  height: 60px;
  width: 60px;
}
.reviews__list__col {
  width: 70%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  margin: 0em 1em;
}
.reviews__list__col__name {
  font-size: 17px;
  font-weight: 600;
}
.reviews__list__col__name span {
  font-size: 14px;

  color: #a09d9d;
  padding: 0em 0.5em;
}
// .reviews__list__col__comment {

//   width: 600px;
// }
//-------------------------------------------------------------------
@media (max-width: 1000px) {
  .cart__container__wraper {
    width: 100%;
  }
  .cart__container__main {
    flex-direction: column;
  }
  .cart__container__user__detail__wraper {
    width: 60%;
  }
  .cart__container__wraper__card {
    width: 100%;
    margin: 1em 0em;
  }
  .cart__container__user__detail__wraper {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 900px) {
  .about__overlay__laft__contant__heading {
    font-size: 30px;
  }
  .about__overlay__contant__wraper {
    flex-direction: column-reverse;
  }
  .gallery__wraper__row {
    flex-wrap: wrap;
    justify-content: center;
  }
  .home__main__container {
    flex-direction: column;
  }
  .home__main__col img {
    width: 100%;
    border-radius: 18px;
  }
  .home__main__col {
    margin: 0.3em 0em;
  }
  .landing__main__banner__img__text__heading {
    font-size: 30px;
    border-radius: 12px;
  }
  .landing__main__banner__text__container {
    width: 100%;
  }
  .showrom__container__img {
    width: none;
  }
  .showrom__container__content {
    margin-right: 0em;
  }
  .header__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .header__entries {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    margin-top: 250px;
    background-color: rgb(230, 232, 233);
    width: 500px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 999;
    position: absolute;
  }
}
@media (max-width: 800px) {
  .about__overlay__laft__contant {
    width: 100%;
    padding: 2em;
  }
  .header__content {
    padding: 1em 2em;
  }
  .home__main__col {
    width: 90%;
  }
  .collection__details__main {
    flex-direction: column;
  }
  .collection__details__main__left {
    width: 100%;
    margin-bottom: 2em;
  }
  .collection__details__main__right {
    width: 100%;
  }
  .collection__details__main__right__heading,
  .collection__details__similar__items__heading {
    font-size: 25px;
  }
}
@media (max-width: 500px) {
  .reviews__list__col {
    width: 100%;
  }
  .reviews__list__wraper {
    flex-direction: column;
  }
  .delivery__wraper__card {
    margin: 6px 0px;
  }
  .about__overlay__right__contant {
    // width: 90%;
    // height: 50px;
    display: none;
  }

  .about__overlay__right__contant img {
    height: 265px;
    padding: 2em 0em;
  }
  .about__overlay__right__contant::before {
    display: none;
  }
  .about__overlay__right__contant::after {
    display: none;
  }
  .about__overlay__laft__contant__heading {
    font-size: 28px;
    line-height: 32px;
  }
  .landing__about__section {
    padding: 0em;
  }
  .gallery__wraper__col img {
    height: 100px;
  }
  .gallery__wraper__col__upper img {
    height: 140px;
  }
  .select__catagories__section__heading {
    font-size: 20px;
    text-align: center;
  }
  .header__navbar__contact {
    display: none;
  }
  .landing__main__banner__img__text__heading {
    font-size: 29px;
    color: $secondary;
    background-color: none;
  }
}
@media (max-width: 650px) {
  .header__content__logo img {
    height: 40px;
  }
  .delivery__container {
    flex-direction: column;
  }
  .delivery__wraper__card {
    border-right: none;
  }
  .delivery__wraper__card__text__heading {
    font-size: 16px;
  }
  .delivery__wraper__card__text__sub__heading {
    font-size: 14px;
  }
}
